.month-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  .month-days-of-the-week {
    display: flex;
    margin-bottom: 1rem;
    .day {
      flex: 1;
    }
  }
  .days-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .not-this-month {
      color: #b9b9b9;
    }
  }
}
