$height: 1820px;

.day-container {
    height: 100%;
    padding: .5rem 0;
    overflow-y: auto;
    display: flex;
    .hourly-box {
        height: $height;
        width: 5rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        .individual-hour {
            flex: 1;
            text-align: right;
            span {
                display: block;
                transform: translateY(-50%);
            }
        }
    }
    .hourly-event-box {
        height: $height;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1px;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
        position: relative;
        .hour-section-event {
            flex: 1;
            box-shadow: 0 1px 0 #d0d0d0;
            display: flex;
            flex-direction: column;
            .quarterly-gap {
                flex: 1;
                &:hover {
                    background-color: red;
                }
            }
        }
        .exact-current-time {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            transform: translatey(-1px);
            background-color: #ca1c1c;
            &::before {
                content: '';
                position: absolute;
                width: 9px;
                height: 9px;
                border-radius: 50%;
                background-color: white;
                border: 1px solid #ca1c1c;
                left: -9px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}