.week-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    .week-header {
        display: flex;
        margin-bottom: 1rem;
        gap: 1px;
        padding-right: 1px;
        .week-header-day {
            flex: 1;
            &.empty {
                flex: unset;
                width: 5rem;
                padding-right: 1rem;
                visibility: hidden;
            }
        }
    }
    .week-content {
        display: flex;
        height: 100%;
        overflow-y: auto;
        gap: 1px;
        background-color: #d0d0d0;
        padding-right: 1px;
        .week-content-day {
            height: 1820px;
            flex: 1;
            display: flex;
            gap: 1px;
            flex-direction: column;
            border-top: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            // Box for each hour during the day
            .hourly-box {
                flex: 1;
                background-color: white;
            }
            &.hours-container {
                flex: unset;
                width: 5rem;
                padding-right: 1rem;
                text-align: right;
                background-color: white;
                border-color: transparent;
                .hour {
                    flex: 1;
                    background-color: white;
                }
            }
        }
    }
}