.week-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    .week-header {
        display: flex;
        gap: 1px;
        padding-right: 1px;
        padding-top: .25rem;
        margin-bottom: .5rem;
        .week-header-day {
            flex: 1;
            display: flex;
            .today-day-number {
                position: relative;
                margin-left: .5rem;
                & span {
                    position: relative;
                    color: white;
                }
                &::before {
                    content: '';
                    position: absolute;
                    height: calc(100% + .25rem);
                    aspect-ratio: 1;
                    background-color: #ca1c1c;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                }
            }
            &.empty {
                flex: unset;
                width: 5rem;
                padding-right: 1rem;
                visibility: hidden;
            }
        }
    }
    .week-content {
        display: flex;
        height: 100%;
        overflow-y: auto;
        gap: 1px;
        padding: 0.5rem 1px 0.5rem 0;
        .week-content-day {
            height: 1820px;
            flex: 1;
            display: flex;
            gap: 1px;
            flex-direction: column;
            border-top: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            // Box for each hour during the day
            .hourly-box {
                flex: 1;
                box-shadow: 0 0 0 1px #d0d0d0;
            }
            &.hours-container {
                flex: unset;
                width: 5rem;
                padding-right: 1rem;
                text-align: right;
                border-color: transparent;
                .hour {
                    flex: 1;
                    span {
                        display: block;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}