.front-page {
    .display-options {
        position: absolute;
        top: 0;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: #f4f4f4;
        border-radius: 6px;
        padding: .5rem;
        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .1);
        display: flex;
        gap: .5rem;
        -webkit-app-region: drag;
        button {
            -webkit-app-region: no-drag;
            font-size: inherit;
            font-family: inherit;
            color: inherit;
            border: none;
            border-radius: 4px;
            background-color: transparent;
            padding: .25rem .75rem;
            &:active {
                background-color: rgba(black, .1);
            }
            &.selected {
                color: white;
                position: relative;
                overflow: hidden;
                &.day {
                    background-image: linear-gradient(0deg, #2b57be, #3b9cc9);
                }
                &.week {
                    background-image: linear-gradient(0deg, #57be2b, #90c93b);
                }
                &.month {
                    background-image: linear-gradient(0deg, #be552b, #c9763b);
                }
                &.year {
                    background-image: linear-gradient(0deg, #9a3bc9, #be2ba5);
                }
                &:active::after {
                    background-color: rgba(black, .1);
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                }
            }
        }
    }
    .next-before-options {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: #f4f4f4;
        border-radius: 6px;
        padding: .5rem;
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, .1);
        display: flex;
        gap: .5rem;
        -webkit-app-region: drag;
        button {
            -webkit-app-region: no-drag;
            font-size: inherit;
            font-family: inherit;
            color: inherit;
            border: none;
            border-radius: 4px;
            background-color: transparent;
            padding: .25rem .75rem;
            &:active {
                background-color: rgba(black, .1);
            }
            &.selected {
                box-shadow: inset 0 0 4px rgba(0, 0, 0, .6);
                background-color: white;
                &:active {
                    background-color: rgba(black, .1);
                }
            }
        }
    }
    .header {
        display: flex;
        justify-content: space-between;
        h1 {
            font-weight: normal;
            margin: 0;
            div {
                color: #7c7c7c;
                font-size: .75em;
            }
        }
        .settings-button {
            display: flex;
            width: 3rem;
            justify-content: space-between;
            align-items: center;
            align-self: start;
            padding: .25rem;
            aspect-ratio: 1 / 1;
            span {
                width: .25rem;
                height: .25rem;
                background-color: #b4b4b4;
                border-radius: 50%;
                display: block;
            }
            &:hover span {
                background-color:#5b5b5b;
            }
        }
    }
}